{% extends "base.html" %}

{% load url from future %}

{% block content %}

    <h1>{{ brewday.name }}</h1>
    <i>{{ brewday.style }}
        {% if brewday.recipe_used %}
            (Recipe: <a href="{% url 'brewlog:recipedetail' brewday.recipe_used.id %}">{{ brewday.recipe_used.name }}</a>)
        {% endif %}
    <br>
    <br>
    Started by {{ brewday.brewer }} on {{ brewday.date }}<br>
    Finishes on {{ brewday.due_date }} ({{ brewday.remaining_days }} days remaining)</i><br>
    <br>
    Total Boil: {{ brewday.totalboil }}m<br>
    Total Steep: {{ brewday.totalsteep }}m<br>
    Target OG: {{ brewday.targetog }} - Actual OG: {{ brewday.og }}<br>
    Target FG: {{ brewday.targetfg }} - Actual FG:
    {% if brewday.fg != 0 %}
        {{ brewday.fg }}
    {% else %}
        Pending
    {% endif %}
    <br>
    <br>
    Notes: {{ brewday.notes }}<br>
    <br>

    <b>Fermentation Step(s)</b>
    <ul>
        {% for fermentationstep in brewday.fermentationstep_set.all %}
            <li>{{ fermentationstep.name }}: {{  fermentationstep.days }} days<br>
                Notes: {{ fermentationstep.notes }}
            </li>
        {% endfor %}
    </ul>

    <b>Steeping Grain(s)</b>
    <ul>
        {% for steepinggrain in brewday.steepinggrain_set.all %}
            <li>{{ steepinggrain.name }}: {{  steepinggrain.weight }}{{ steepinggrain.weight_unit }}, added from {{ steepinggrain.starttime }}-{{ steepinggrain.endtime }}m during the steep
        {% endfor %}
    </ul>

    <b>Extract(s)</b>
    <ul>
        {% for extract in brewday.extract_set.all %}
            <li>{{ extract.name }}: {{  extract.weight }}{{ extract.weight_unit }}, added
            {% if extract.addtime == 0 %}
                immediately
            {% else %}
                at {{ extract.addtime }}m
            {% endif %}
            into the boil
        {% endfor %}
    </ul>

    <b>Yeast(s)</b>
    <ul>
        {% for yeast in brewday.yeast_set.all %}
            <li>{{ yeast.name }}
        {% endfor %}
    </ul>

    <b>Hop(s)</b>
    <ul>
        {% for hop in brewday.hop_set.all %}
            <li>{{ hop.name }}: {{  hop.weight }}{{ hop.weight_unit }}, added from {{ hop.starttime }}-{{ hop.endtime }}m during the boil
        {% endfor %}
    </ul>

    <b>Adjunct(s)</b>
    <ul>
        {% for adjunct in brewday.adjunct_set.all %}
            <li>{{ adjunct.name }}: {{  adjunct.weight }}{{ adjunct.weight_unit }}, added
            {% if adjunct.addtime == 0 %}
                immediately
            {% else %}
                at {{ adjunct.addtime }}m
            {% endif %}
            into the boil
        {% endfor %}
    </ul>

    {% if brewday.otheringredient_set.count > 0 %}
        <b>Other Ingredients(s)</b>
        <ul>
            {% for otheringredient in brewday.otheringredient_set.all %}
                <li>{{ otheringredient.name }}: {{  otheringredient.weight }}{{ otheringredient.weight_unit }}, added
                {% if otheringredient.addtime == 0 %}
                    immediately
                {% else %}
                    at {{ otheringredient.addtime }}<m></m>
                {% endif %}
                into the boil
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
