{% extends "base.html" %}

{% load url from future %}

{% block content %}

<h1>{{ recipe.name }}</h1>
<i>{{ recipe.style }}</i><br>
<br>
Author: {{ recipe.brewer }}<br>
<br>
Total Boil: {{ recipe.totalboil }}m<br>
{% if recipe.totalsteep > 0 %}Total Steep: {{ recipe.totalsteep }}m<br>{% endif %}
{% if recipe.totalmash > 0 %}Total Mash: {{ brewday.totalmash }}m<br>{% endif %}
Target OG: {{ recipe.targetog }}<br>
Target FG: {{ recipe.targetfg }}<br>
<br>
Instructions: {{ recipe.instructions }}<br>
<br>
Notes: {{ recipe.notes }}<br>
<br>

<b>Fermentation Step(s)</b>
<ul>
    {% for fermentationstep in recipe.fermentationstep_set.all %}
    <li>{{ fermentationstep.name }}: {{  fermentationstep.days }} days<br>
        Notes: {{ fermentationstep.notes }}
    </li>
    {% endfor %}
</ul>

    {%  if recipe.steepinggrain_set.count > 0 %}
        <b>Steeping Grain(s)</b>
        <ul>
            {% for steepinggrain in brewday.steepinggrain_set.all %}
                <li>{{ steepinggrain.name }}: {{  steepinggrain.weight }}{{ steepinggrain.weight_unit }}, added from {{ steepinggrain.starttime }}-{{ steepinggrain.endtime }}m during the steep
            {% endfor %}
        </ul>
    {% endif %}

    {%  if recipe.extract_set.count > 0 %}
        <b>Extract(s)</b>
        <ul>
            {% for extract in brewday.extract_set.all %}
                <li>{{ extract.name }}: {{  extract.weight }}{{ extract.weight_unit }}, added at {{ extract.starttime }}m into the boil
            {% endfor %}
        </ul>
    {% endif %}

    {%  if recipe.specialtygrain_set.count > 0 %}
        <b>Specialty Grain(s)</b>
        <ul>
            {% for specialtygrain in recipe.specialtygrain_set.all %}
                <li>{{ specialtygrain.name }}: {{  specialtygrain.weight }}{{ specialtygrain.weight_unit }}, added from {{ specialitygrain.starttime }}-{{ specialitygrain.endtime }}m at {{ specialtygrain.mash_temp }}F during the mash
            {% endfor %}
        </ul>
    {% endif %}

    {%  if recipe.basegrain_set.count > 0 %}
        <b>Base Grain(s)</b>
        <ul>
            {% for basegrain in recipe.basegrain_set.all %}
                <li>{{ basegrain.name }}: {{  basegrain.weight }}{{ basegrain.weight_unit }}, added from {{ basegrain.starttime }}-{{ basegrain.endtime }}m at {{ basegrain.mash_temp }}F during the mash
            {% endfor %}
        </ul>
    {% endif %}

    <b>Yeast(s)</b>
    <ul>
        {% for yeast in recipe.yeast_set.all %}
        <li>{{ yeast.name }}
            {% endfor %}
    </ul>

    <b>Hop(s)</b>
    <ul>
        {% for hop in recipe.hop_set.all %}
        <li>{{ hop.name }}: {{  hop.weight }}{{ hop.weight_unit }}, added from {{ hop.starttime }}-{{ hop.endtime }}m during the boil
            {% endfor %}
    </ul>

    {% if recipe.adjunct_set.count > 0 %}
    <b>Adjunct(s)</b>
    <ul>
        {% for adjunct in recipe.adjunct_set.all %}
        <li>{{ adjunct.name }}: {{  adjunct.weight }}{{ adjunct.weight_unit }}, added from {{ adjunct.starttime }}-{{ adjunct.endtime }}m into the boil
    </ul>
    {% endif %}

    {% if recipe.otheringredient_set.count > 0 %}
    <b>Other Ingredients(s)</b>
    <ul>
        {% for otheringredient in recipe.otheringredient_set.all %}
        <li>{{ otheringredient.name }}: {{  otheringredient.weight }}{{ otheringredient.weight_unit }}, added from {{ otheringredient.starttime }}-{{ otheringredient.endtime }}m into the boil
            {% endfor %}
    </ul>
    {% endif %}

{% endblock %}
